.formBtn {
    min-width: 100%;
}
.mantine-TextInput-label {
    color: honeydew;
    font-family: "Montserrat", sans-serif;
}
.mantine-Checkbox-label {
    color: honeydew;
    font-family: "Montserrat", sans-serif;
}
