.not-found-image {
    background: url(../../images/notFoundImg.jpg);
    width: 100%;
    background-size: cover;
    background-position: 0;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    padding: 135px 20px;
}
